.maidivbestseller{
    width:100%;
    height:500px;
display: flex;
justify-content: center;
gap:20px;
}

.productmain{
    width:20%;
    height:500px;
    display: block;
}
.productimg{
    width:100%;
    margin-bottom: 10px;
}

.productnamehead{
    margin-top: 10px;
}
.star{
    width:100%;
    height:70px;


}

.productimgstar{
    width:60%;
height:90px;
margin-top: -20px;
}

.pricepara{
    margin-top: -25px;
}